body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image{
    width: 150px;
    border-radius: 10px;
}

.card{
    padding: 10px;
    display: flex;
    background-color: #ddebf8;
    justify-content: space-around;
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    border-bottom: 6px solid #d8cefe;
    color: #2b2839;
    border-radius: 10px;
}

.column2{
    padding: 5px;
    text-align: center;
}

.blue-border{
    border: 1px solid blue;
    border-radius: 10px;
}
